header {
	background-color: #66BA80;
	padding: 10px 15px;
}

header nav .navbar-nav .nav-link {
	color: #efefef !important;
	font-size: 18px;
	font-weight: 500;
	padding: 0px 18px !important;
}

header .navbar-brand {
	max-width: 200px;
}

h5{
color: white;
}


.card-img-top{
    height: 100%;
}

header{
    background: #4d4d4d;
}

